<p id="navi">
<%= link_to 'Show', @tropy %> |
<%= link_to 'Random', random_path %>
</p>

<h1><%= @title = 'Editing Page' %></h1>

<% form_for(@tropy) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
