<h1><%= @title = 'New Page' %></h1>

<% form_for(@tropy) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Random', random_path %>
