<%-
  caption, content = @tropy.content.split(/\r?\n/, 2)
  @title = caption
-%>
<h1><%=h caption %></h1>
<p><%=h(content).gsub(/\r?\n/, "<br />\n") %></p>

<%= link_to 'Edit', edit_tropy_path(@tropy) %> |
<%= link_to 'New', new_tropy_path %> |
<%= link_to 'Random', random_path %>
